<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
	<nav class="navbar bg-light navbar-light">
		<a href="index.html" class="navbar-brand mx-4 mb-3">
			<h3 class="text-primary">Quản lý</h3>
		</a>
		<div class="d-flex align-items-center ms-4 mb-4">
			<div class="position-relative">
				<img class="rounded-circle" src="https://www.duonghuuphuc.com/static/img/duong-huu-phuc-1279px.jpg"
					alt="" style="width: 40px; height: 40px;">
				<div
					class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
				</div>
			</div>
			<div class="ms-3">
				<h6 class="mb-0">Thanh Chan</h6>
				<span>Admin</span>
			</div>
		</div>
		<div class="navbar-nav w-100">
			<a href="#substudy" class="nav-item nav-link position-relative dropdown-toggle {{activeHoctap}}" data-toggle="collapse">
				<i class="fas fa-graduation-cap"></i>Học tập
			</a>
			<ul class="collapse list-unstyled mt-2 flex-column" id="substudy">
				<li>
					<a class="nav-item nav-link" href="/admin"><i class="far fa-check-square"></i>Điểm danh</a>
				</li>
			</ul>
			<a href="/admin/assignments" class="nav-item nav-link {{activePhancong}}"><i class="fas fa-calendar"></i>Phân công lịch
				dạy</a>
			<a href="#submenu" class="nav-link position-relative dropdown-toggle {{activeHoso}}" data-toggle="collapse"><i class="fas fa-id-card"></i>Hồ sơ</a>
			<ul class="collapse list-unstyled mt-2 flex-column" id="submenu">
				<li>
					<a class="nav-item nav-link" href="/admin/students"><i class="fas fa-child"></i>Học sinh</a>
				</li>
				<li>
					<a class="nav-item nav-link" href="/admin/teachers"><i class="fas fa-user-graduate"></i>Giáo viên</a>
				</li>	
				<li>
					<a class="nav-item nav-link" href="/admin/classes"><i class="fas fa-home"></i>Lớp</a>
				</li>
				<li>
					<a class="nav-item nav-link" href="/admin/data"><i class="fas fa-database"></i>Thêm dữ liệu</a>
				</li>
			</ul>
			<a href="danhmuc.html" class="nav-item nav-link"><i class="fas fa-tasks"></i>Danh mục</a>
			<a href="table.html" class="nav-item nav-link"><i class="fa fa-table"></i>Xuất thống kê</a>
			<a href="/admin/logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
		</div>
	</nav>
</div>
<!-- Sidebar End -->