<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <div class="d-flex align-items-center ms-4 nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <div class="position-relative">
                    <img class="rounded-circle" src="/imgs/male_student.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <div class="fw-bold">Nguyễn Khâm Thịnh Khoa</div>
                    <span>Học sinh</span>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">Thông tin</a>
                <a href="#" class="dropdown-item">Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a href="/student/logout" class="dropdown-item">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->