<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <div class="d-flex align-items-center ms-4 nav-link dropdown-toggle" data-toggle="dropdown">
                {{#ifEquals teacher.gender true}}
                <div class="position-relative">
                    <img class="rounded-circle" src="/imgs/male_teacher.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                {{else}}
                <div class="position-relative">
                    <img class="rounded-circle" src="/imgs/female_teacher.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                {{/ifEquals}}
                <div class="ms-3">
                    <div class="fw-bold">{{{teacher.name}}}</div>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="/teacher/information" class="dropdown-item"><i class="fa-solid fa-user me-2"></i>Thông tin</a>
                <a class="dropdown-item" style="cursor: pointer;"
                    data-toggle="modal" data-target="#changePasswordModal"
                ><i class="fa-solid fa-key me-2"></i>Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a href="/teacher/logout" class="dropdown-item"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Change password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Mật khẩu cũ</label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="Nhập mật khẩu cũ">
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="changeTeacherPasswordBtn">Lưu</button>
            </div>
        </div>
    </div>
</div>