<div class="container text-center" id="">
	<img src="/imgs/background_newYear.png" alt="" class="img-fluid" style="max-height: 70vh">
	<p class="mt-2">Lưu ý: Khi thêm năm học mới, điểm sẽ không thể chỉnh sửa</p>
	<div class="d-flex justify-content-center">
		<button class="btn btn-primary me-3 btn-semester">Bắt đầu học kì mới</button>
		<button class="btn btn-primary btn-year">Bắt đầu năm học mới</button>
	</div>
</div>

<script>
	$(function() {
		$('.btn-semester').click(() => {
			
		})
		$('.btn-year').click(() => {
			
		});
	})
</script>