<div class="container text-center" id="">
	<img src="/imgs/background_newYear.png" alt="" class="img-fluid" style="max-height: 70vh">
	<p class="mt-2">Lưu ý: Khi thêm năm học mới, các thông tin như điểm, thông tin học sinh sẽ không thể chỉnh sửa</p>
	<button class="btn btn-primary">Bắt đầu năm học mới</button>
</div>