<div class="bg-light text-center rounded p-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				<p><i class="fas fa-square-root-alt d-inline-flex align-items-center justify-content-center" style="width: 40px; height: 40px"></i>Tổ Toán</p>
			</div>
			<div class="col-9">

			</div>
		</div>
		<div class="row"></div>
	</div>
	<table class="table table-strip table-hover"></table>
</div>