<div class="bg-light text-center rounded p-4">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<div class="d-flex align-items-center">
			<label for="grade">Khối</label>
			<select class="form-select mx-3" id="grade" style="width: auto">
				<option value="no" selected disabled>Chọn khối</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClass">Thêm lớp</button>
	</div>
	<img src="/imgs/background_class_wait.png" alt="" class="img-fluid">
	<div class="table-responsive d-none">
		<table class="table text-center align-middle table-bordered table-hover mb-0 overflow-auto text-nowrap" id="attendance-table">
			<thead>
				<tr class="text-dark">
					<th scope="col">STT</th>
					<th scope="col">Tên lớp</th>
					<th scope="col">Số học sinh</th>
					<th scope="col">Giáo viên chủ nhiệm</th>
					<th scope="col">Chi tiết</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>


<div class="modal fade" id="addClass">
    <div class="modal-dialog">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thêm lớp</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<form>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="nameClass">Tên lớp</label>
						<input type="text" class="form-control" id="nameClass" placeholder="Vd: 6A1, 8A2" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="teacher">Giáo viên chủ nhiệm</label>
						<select class="form-select" id="teacher" required>
							{{#each teachers}}
								<option value="{{_id}}">{{name}} - {{group}}</option>
							{{/each}}
						</select>
					</div>
					<button type="button" class="btn btn-primary btn-save-class-single">Lưu</button>
				</form>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addTeacherToClass">
    <div class="modal-dialog modal-lg">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thay đổi giáo viên chủ nhiệm</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<p>Giáo viên chủ nhiệm hiện tại: <span id="currentTeacher"></span></p>
				<table class="table text-center align-middle table-bordered table-hover mb-0" id="addTeacher-table">
					<thead>
						<tr class="text-dark">
							<th scope="col">STT</th>
							<th scope="col">Tên giáo viên</th>
							<th scope="col">Ngày sinh</th>
							<th scope="col">Giới tính</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Tổ</th>
							<th scope="col">Thao tác</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-save-teacher">Lưu</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
			</div>
		</div>
	</div>
</div>

<script>
	function handleOpenModal(e) {
		let id = $(e).data('id');	
		let idTeacher = $(e).data('teacher');
		tdTeacherName = $(e).closest('tr').find('td').eq(3);
		$('.btn-save-teacher').data('id', id);
		$('.btn-save-teacher').data('teacher', idTeacher);
		fetch(`/admin/getNoFormTeacher/${id}`)
			.then(res => {
				if(!res.ok) {
					throw new Error("Lỗi");
				} else {
					return res.json();
				}
			})
			.then(data => {
				let htmls = ``;
				$('#addTeacher-table tbody').empty();
				if(!data.formTeacher) {
					$('#currentTeacher').text('Chưa có');
				} else {
					$('#currentTeacher').text(data.formTeacher.name + " - " + data.formTeacher.group);
				}
				console.log(data);
				data.noFormTeachers.forEach((item, index) => {
					let gender = item.gender === true ? 'Nam' : 'Nữ';
					const inputDateStr = item.birthday;
					const year = inputDateStr.substr(0, 4);    // Trích xuất 4 ký tự đầu là năm
					const month = inputDateStr.substr(5, 2);   // Trích xuất 2 ký tự sau là tháng
					const day = inputDateStr.substr(8, 2);     // Trích xuất 2 ký tự sau là ngày
					// định dạng "DD/MM/YYYY"
					const birthday = `${day}/${month}/${year}`;
					htmls += `<tr>
							<td scope="col">${index + 1}</td>
							<td scope="col">${item.name}</td>
							<td scope="col">${birthday}</td>
							<td scope="col">${gender}</td>
							<td scope="col">${item.phone}</td>
							<td scope="col">${item.group}</td>
							<td scope="col">
								<input type="radio" class="radio-teacher-checkbox form-check-input" data-id="${item._id}">
							</td>
						</tr>`;
				});
				$('#addTeacher-table tbody').append(htmls);
				$('#addTeacherToClass').modal('show');
			})
			.catch(err => {
				console.log(err);
			});
	}
	$(function() {
		let tdTeacherName = null;
		$(".btn-save-class-single").click(() => {
			let nameClass = $("#nameClass").val();
			let teacherId = $("#teacher").val();
			let teacherName = $('#teacher :selected').text();
			let grade = parseInt(nameClass[0]);
			const pattern = /^[6-9][A-Z][1-9]+$/;
			if(pattern.test(nameClass)) {
				fetch(`/admin/addClass`, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({name: nameClass, grade: grade, teacher: teacherId}),
				})
				.then(res => {
					if (res.status === 409) {
						// Trường hợp trùng lặp
						toastr.error("Lớp học đã tồn tại.");
						return;
					} else if (!res.ok) {
						throw new Error(`Mã lỗi HTTP: ${res.status}`);
					}
					return res.json();
				})
				.then(data => {
					const latestRow = $("tbody tr:last");
					// Lấy tất cả thẻ <td> trong hàng cuối cùng
					const newIndex = parseInt(latestRow.find("td:first").text()) + 1;
					let newTr = `<tr>
						<td>${newIndex}</td>
						<td>${data.name}</td>
						<td>0</td>
						<td>${teacherName}</td>
					</tr>`;
					$('tbody').append(newTr);
					toastr.success("Thêm thành công");
				})	
				.catch(err => {
					console.log(err);
					toastr.error("Thêm lớp không thành công");
				});
			} else {
				toastr.error("Vui lòng nhập tên lớp phù hợp (Ví dụ: 6A1, 9A10)");
			}
		});
		$("#grade").change(function() {
			$('#spinner').addClass("show");
			$('.img-fluid').addClass('d-none');
			$('.table-responsive').removeClass('d-none');
			let grade = $(this).val();
			fetch(`/admin/classes/${grade}`)
			.then(res => res.json())
			.then(data => {
				console.log(data);
				$('tbody').empty();
				let tr = ``;
				let i = 1;
				data.classes.forEach(item => {
					tr += `<tr>
						<td>${i++}</td>
						<td>${item.name}</td>
						<td>${item.numberStudent}</td>
						<td>${item.teacher}</td>
						<td><i class="mx-2 fas fa-user-edit editClass text-primary" style="cursor: pointer;" data-id="${item._id}" data-teacher="${item.idTeacher}" onclick="handleOpenModal(this)"></i></td>
					</tr>`;
				});
				$('#spinner').removeClass("show");
				$('tbody').append(tr);
			})
			.catch(err => {
				console.log(err);
				$('#spinner').removeClass("show");
				toastr.error("Đã có lỗi xảy ra");
			});
		});
		$('tbody').on('click', '.editClass', function() {
			let id = $(this).data('id');	
			let idTeacher = $(this).data('teacher');
			tdTeacherName = $(this).closest('tr').find('td').eq(3);
			$('.btn-save-teacher').data('id', id);
			$('.btn-save-teacher').data('teacher', idTeacher);
			fetch(`/admin/getNoFormTeacher/${id}`)
				.then(res => {
					if(!res.ok) {
						throw new Error("Lỗi");
					} else {
						return res.json();
					}
				})
				.then(data => {
					let htmls = ``;
					$('#addTeacher-table tbody').empty();
					if(!data.formTeacher) {
						$('#currentTeacher').text('Chưa có');
					} else {
						$('#currentTeacher').text(data.formTeacher.name + " - " + data.formTeacher.group);
					}
					console.log(data);
					data.noFormTeachers.forEach((item, index) => {
						let gender = item.gender === true ? 'Nam' : 'Nữ';
						const inputDateStr = item.birthday;
						const year = inputDateStr.substr(0, 4);    // Trích xuất 4 ký tự đầu là năm
						const month = inputDateStr.substr(5, 2);   // Trích xuất 2 ký tự sau là tháng
						const day = inputDateStr.substr(8, 2);     // Trích xuất 2 ký tự sau là ngày
						// định dạng "DD/MM/YYYY"
						const birthday = `${day}/${month}/${year}`;
						htmls += `<tr>
								<td scope="col">${index + 1}</td>
								<td scope="col">${item.name}</td>
								<td scope="col">${birthday}</td>
								<td scope="col">${gender}</td>
								<td scope="col">${item.phone}</td>
								<td scope="col">${item.group}</td>
								<td scope="col">
									<input type="radio" class="radio-teacher-checkbox form-check-input" data-id="${item._id}">
								</td>
							</tr>`;
					});
					$('#addTeacher-table tbody').append(htmls);
					$('#addTeacherToClass').modal('show');
				})
				.catch(err => {
					console.log(err);
				});
		});
		$('#addTeacher-table').on('change', '.radio-teacher-checkbox', function() {
			// Tắt tất cả các checkbox trừ checkbox đang được thay đổi
			$('.radio-teacher-checkbox').not(this).prop('checked', false);
		});
		let teacherCurr = $('.btn-save-teacher').data('teacher');
		$('.btn-save-teacher').click(function() {
			let classId = $(this).data('id');
			if(teacherCurr === '') {
				teacherCurr = null;
			}
			let teacherChange = $('.radio-teacher-checkbox:checked').data('id');
			let nameTeacher = $($('.radio-teacher-checkbox:checked').closest('tr').find('td').eq(1)).text();
			
			console.log(teacherCurr, teacherChange)
			fetch(`/admin/setTeacher`, {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ classId, teacherCurr, teacherChange }),
			})
			.then(res=> {
				if(!res.ok)
					throw new Error('Lỗi');
				return res.json();
			})
			.then(data => {
				console.log(data);
				toastr.success('Thành công');
				tdTeacherName.text(nameTeacher);
				teacherCurr = teacherChange;
				$('#addTeacherToClass').modal('hide');
			})
			.catch(err => {
				console.log(err);
				toastr.error('Lỗi hệ thống');
			})
		})
	})
</script>