<div class="d-flex flex-end">
	<button class="btn btn-primary ms-auto mb-3 btn-add">Thêm giáo viên</button>
</div>
<div class="bg-light text-center rounded p-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-3 overflow-auto" style="height: 500px;">
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/math.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Toán</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/literature.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Ngữ văn</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/physical.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Khoa học tự nhiên</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/biology.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Công nghệ</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/english.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Tiếng Anh</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/it.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Tin học</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/education.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Giáo dục công dân</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/gym.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Giáo dục thể chất</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/music.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Âm nhạc</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/art.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Mỹ thuật</span>
				</button>
				<button class="group-teacher-nav btn text-start mt-3"><img src="/imgs/history.png" class="d-inline-flex align-items-center justify-content-center mx-2"></img><span class="group-name">Tổ Lịch sử và Địa lý</span>
				</button>
			</div>
			<div class="col-9">
				<div class="container-fluid list-teachers">
					<img src="/imgs/background_teacher_wait.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>






<div class="modal fade" id="teacherInfo">
    <div class="modal-dialog border-0">
		<div class="modal-content border-0" style="border-radius: 1rem;">

			<div class="text-center card-box">
				<div class="member-card pt-2 pb-2">
					<div class="thumb-lg member-thumb mx-auto"><img src="/imgs/background_male_teacher.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>

					{{!-- Form  edit --}}
					<div class="container form-edit d-none">
						<div class="row">
							<div class="col-6">
								<div class="form-group mb-3">
									<label class="mb-2" for="nameInput">Tên</label>
									<input type="text" class="form-control" id="nameInput">
								</div>
							</div>
							<div class="col-6">
								<div class="form-group mb-3">
									<label class="mb-2" for="groupSelect">Tổ</label>
									<select class="form-select" id="groupSelect">
										<option value="Tổ Toán">Tổ Toán</option>
										<option value="Tổ Ngữ văn">Tổ Ngữ văn</option>
										<option value="Tổ Khoa học tự nhiên">Tổ Khoa học tự nhiên</option>
										<option value="Tổ Công nghệ">Tổ Công nghệ</option>
										<option value="Tổ Tiếng Anh">Tổ Tiếng Anh</option>
										<option value="Tổ Tin học">Tổ Tin học</option>
										<option value="Tổ Giáo dục thể chất">Tổ Giáo dục thể chất</option>
										<option value="Tổ Giáo dục công dân">Tổ Giáo dục công dân</option>
										<option value="Tổ Âm nhạc">Tổ Âm nhạc</option>
										<option value="Tổ Mỹ thuật">Tổ Mỹ thuật</option>
										<option value="Tổ Lịch sử và Địa lý">Tổ Lịch sử và Địa lý</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="form-group mb-3">
									<label class="mb-2" for="emailInput">Email</label>
									<input type="email" class="form-control" id="emailInput">
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label class="mb-2" for="birthdayInput">Ngày sinh</label>
									<input type="date" class="form-control" id="birthdayInput">
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-6">
								<div class="form-group mb-3">
									<label class="mb-2" for="genderSelect">Giới tính</label>
									<select class="form-select" id="genderSelect">
										<option value="1">Nam</option>
										<option value="0">Nữ</option>
									</select>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group mb-3">
									<label class="mb-2" for="phoneInput">Số điện thoại</label>
									<input type="tel" class="form-control" id="phoneInput">
								</div>
							</div>
						</div>
						<button class="mt-3 btn btn-success btn-edit-teacher">Lưu <i class="fas fa-check"></i></button>
					</div>


					<div class="form-info">
						<div>
							<div class="d-flex justify-content-center align-items-center">
								<h4 class="mb-0" id="name">Trần Tấn Thành</h4> 
								<i class="ms-2 fas fa-user-edit d-flex align-items-center edit-icon" style="height: 30px; width: 30px; cursor: pointer"></i>
							</div>
							<p class="text-muted">
								<span id="group">Tổ Vật Lý </span>
								<span> | </span>
								<span>
									<a href="#" class="text-pink" id="email">trantanthanh@gmail.com</a>
								</span>
							</p>
						</div>
						<div class="mt-4">
							<div class="row">
								<div class="col-4">
									<div class="mt-3">
										<h4 id="birthday">30/11/2003</h4>
										<input type="date" class="form-control d-none" id="birthdayInput">
										<p class="mb-0 text-muted">Ngày sinh</p>
									</div>
								</div>
								<div class="col-4">
									<div class="mt-3">
										<h4 id="gender">Nam</h4>
										<select class="form-select d-none" id="genderSelect">
											<option value="1">Nam</option>
											<option value="0">Nữ</option>
										</select>
										<p class="mb-0 text-muted">Giới tính</p>
									</div>
								</div>
								<div class="col-4">
									<div class="mt-3">
										<h4 id="phone">0907640698</h4>
										<p class="mb-0 text-muted">Số điện thoại</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="teacherId d-none"></div>

<div class="modal fade" id="addTeacher">
    <div class="modal-dialog">
		<div class="modal-content p-2">
			<!-- Modal Header -->
			<div class="modal-header justify-content-center">
				<h4 class="modal-title">Thêm giáo viên mới</h4>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<form>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="nameTeacher">Tên giáo viên</label>
						<input type="text" class="form-control" id="nameTeacher" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="birthdateTeacher">Ngày sinh</label>
						<input type="date" class="form-control" id="birthdateTeacher" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="genderTeacher">Giới tính</label>
						<select class="form-select" id="genderTeacher" required>
							<option value="1">Nam</option>
							<option value="0">Nữ</option>
						</select>	
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="addressTeacher">Địa chỉ</label>
						<input type="text" class="form-control" id="addressTeacher" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="phoneTeacher">Số điện thoại</label>
						<input type="tel" class="form-control" id="phoneTeacher" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="emailTeacher">Email</label>
						<input type="email" class="form-control" id="emailTeacher" required>
					</div>
					<div class="form-group mb-3">
						<label style="font-weight: bold" class="mb-1" for="groupTeacher">Tổ</label>
						<select class="form-select" id="groupTeacher" required>
							<option value="Tổ Toán">Tổ Toán</option>
							<option value="Tổ Ngữ văn">Tổ Ngữ văn</option>
							<option value="Tổ Khoa học tự nhiên">Tổ Khoa học tự nhiên</option>
							<option value="Tổ Công nghệ">Tổ Công nghệ</option>
							<option value="Tổ Tiếng Anh">Tổ Tiếng Anh</option>
							<option value="Tổ Tin học">Tổ Tin học</option>
							<option value="Tổ Giáo dục thể chất">Tổ Giáo dục thể chất</option>
							<option value="Tổ Giáo dục công dân">Tổ Giáo dục công dân</option>
							<option value="Tổ Âm nhạc">Tổ Âm nhạc</option>
							<option value="Tổ Mỹ thuật">Tổ Mỹ thuật</option>
							<option value="Tổ Lịch sử và Địa lý">Tổ Lịch sử và Địa lý</option>
						</select>
					</div>
					<button type="button" class="btn btn-primary btn-save-single">Lưu</button>
				</form>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		let cardTeacherClicked = null;
		let teacherMap = {};
		let groupNameClicked = null;
		$('.group-teacher-nav').click(function() {
			groupNameClicked = $(this).find('.group-name').first().text();
			console.log(groupNameClicked);
			$('.img-wait').addClass('d-none');
			$(this).addClass('active');
			$('.group-teacher-nav').not(this).removeClass('active');
			const group = $(this).text();
			fetch(`/admin/getTeachersByGroup?group=${group}`)
			.then(res => {
				if(!res.ok) throw new Error("Error fetching");
				return res.json();
			})
			.then(data => {
				console.log(data);
				$('.list-teachers').empty();
				let rows = ``;
				data.teachers.forEach((teacher, index) => {
					teacherMap[teacher._id] = teacher;
					let imgs = ``;
					if(teacher.gender === true) {
						imgs = `<img class="me-2 img-card-teacher" src="/imgs/male_teacher.png" alt="" style="width: 70px; height: 70px">`;
					} else {
						imgs = `<img class="me-2 img-card-teacher" src="/imgs/female_teacher.png" alt="" style="width: 70px; height: 70px">`;
					}
					if(index % 2 == 0) {
						rows += `<div class="row mb-3">`;
					} 
					rows += `<div class="col-6 teacher-card" data-id="${teacher._id}">
						<div class="mx-2 bg-white p-3 shadow-sm" style="width: 100%; border-radius: 1rem; cursor: pointer">
							<div class="d-flex align-items-center">
								${imgs}
								<div class="ms-2 text-start">
									<h5 class="card-title teacher-name-card">${teacher.name}</h5>
									<h6 class="teacher-email-card" style="font-weight: 500">${teacher.email}</h6>
									<h6 class="teacher-group-card" style="font-weight: 500">Giáo viên ${teacher.group}</h6>
								</div>
							</div>
						</div>
					</div>`;
					if(index % 2 == 1) {
						rows += `</div>`;
					}
				});
				$('.list-teachers').append(rows);
			})
			.catch(err => {
				console.log(err);
				toastr.error("Lỗi hệ thống");
			});
		});
		$('.list-teachers').on('click', '.teacher-card', function() {
			cardTeacherClicked = $(this);
			const teacherId = $(this).data('id');
			const teacher = teacherMap[teacherId];
			console.log(teacher);
			const gender = teacher.gender === true ? 'Nam' : 'Nữ';
			if(teacher.gender === true) {
				$('.img-thumbnail').attr('src', '/imgs/background_male_teacher.png');
			} else {
				$('.img-thumbnail').attr('src', '/imgs/background_female_teacher.png');
			}
			const parts = teacher.birthday.substring(0, 10).split('-');
			const birthday = `${parts[2]}-${parts[1]}-${parts[0]}`;
			$('#name').text(teacher.name);
			$('#email').text(teacher.email);
			$('#phone').text(teacher.phone);
			$('#group').text(teacher.group);
			$('#gender').text(gender);
			$('#birthday').text(birthday);
			$('#teacherInfo').modal('show');
			$('.teacherId').text(teacherId);
		});
		
		$('.edit-icon').click(() => {
			$('.form-edit').removeClass('d-none');
			$('.form-info').addClass('d-none');
			$('#nameInput').val($('#name').text());
			$('#emailInput').val($('#email').text());
			$('#phoneInput').val($('#phone').text());
			$('#groupSelect').val($('#group').text());
			let gender = $('#gender').text() === 'Nam' ? 1 : 0;
			$('#genderSelect').val(gender);
			const parts = $('#birthday').text().split('-');
			const formattedDate = parts[2] + '-' + parts[1] + '-' + parts[0];
			$('#birthdayInput').val(formattedDate);
		});
		$('#teacherInfo').on('hidden.bs.modal', function () {
			$('.form-edit').addClass('d-none');
			$('.form-info').removeClass('d-none');
		});
		$('.btn-edit-teacher').click(()=> {
			const name = $('#nameInput').val();
			const group = $('#groupSelect').val();
			const email = $('#emailInput').val();
			const birthday = $('#birthdayInput').val();
			const gender = $('#genderSelect').val();
			const phone = $('#phoneInput').val();
			const teacherId = $('.teacherId').text();
			fetch(`/admin/teacher/${teacherId}`, {
				method: 'PUT',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({ name, group, email, birthday, gender, phone })
			})
			.then(res => {
				if(!res.ok) throw new Error("Error updating");
				else return res.json();
			})
			.then(teacher => {
				const preGroup = $(cardTeacherClicked.find('.teacher-group-card').eq(0)).text().replace('Giáo viên ', '');
				$('#name').text(teacher.name);
				$('#email').text(teacher.email);
				$('#phone').text(teacher.phone);
				$('#group').text(teacher.group);
				if(preGroup !== teacher.group) {
					$(cardTeacherClicked).remove();
					return;
				}
				const gender = teacher.gender === true ? 'Nam' : 'Nữ';
				if(teacher.gender === true) {
					$('.img-thumbnail').attr('src', '/imgs/background_male_teacher.png');
					$(cardTeacherClicked.find('.img-card-teacher').eq(0)).attr('src', '/imgs/male_teacher.png');
				} else {
					$('.img-thumbnail').attr('src', '/imgs/background_female_teacher.png');
					$(cardTeacherClicked.find('.img-card-teacher').eq(0)).attr('src', '/imgs/female_teacher.png');
				}
				const parts = teacher.birthday.substring(0, 10).split('-');
				const birthday = `${parts[2]}-${parts[1]}-${parts[0]}`;
				$('#gender').text(gender);
				$('#birthday').text(birthday);
				toastr.success("Cập nhật thông tin thành công");
				const nameCard = $(cardTeacherClicked.find('.teacher-name-card').eq(0));
				const emailCard = $(cardTeacherClicked.find('.teacher-email-card').eq(0));
				const groupCard = $(cardTeacherClicked.find('.teacher-group-card').eq(0));
				
				nameCard.text(teacher.name);
				emailCard.text(teacher.email);
				groupCard.text('Giáo viên ' + teacher.group);
				teacherMap[teacherId] = teacher;
				$('.form-edit').addClass('d-none');
				$('.form-info').removeClass('d-none');
			})	
			.catch(err => {
				console.log(err);
				toastr.error("Cập nhật thông tin không thành công");
			});
		});
		$('.btn-add').click(()=> {
			$('#addTeacher form')[0].reset();
			$('#addTeacher').modal('show');
		});
		$('.btn-save-single').click(()=> {
			const name = $('#nameTeacher').val();
			const birthday = $('#birthdateTeacher').val();
			const gender = $('#genderTeacher').val();
			const address = $('#addressTeacher').val();
			const phone = $('#phoneTeacher').val();
			const email = $('#emailTeacher').val();
			const group = $('#groupTeacher').val();
			console.log(name, birthday, gender, address, phone, email, group);
			fetch(`/admin/teacher`, {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({name, birthday, gender, address, phone, email, group}),
			})
			.then(res => {
				if(!res.ok) throw new Error('Lỗi');
				return res.json();
			})
			.then(data => {
				teacherMap[data._id] = data;
				if(data.group === groupNameClicked) {
					let imgs = ``;

					if(data.gender === true) {
						imgs = `<img class="me-3" src="/imgs/male_teacher.png" alt="" style="width: 70px; height: 70px">`;
					} else {
						imgs = `<img class="me-3" src="/imgs/female_teacher.png" alt="" style="width: 70px; height: 70px">`;
					}
					let newItem = `<div class="col-6 teacher-card" data-id="${data._id}">
							<div class="bg-white p-3 mx-2 shadow-sm" style="width: 100%; border-radius: 1rem; cursor: pointer">
								<div class="d-flex align-items-center">
									${imgs}
									<div class="ms-2 text-start">
										<h5 class="card-title teacher-name-card">${data.name}</h5>
										<h6 class="teacher-email-card" style="font-weight: 500">${data.email}</h6>
										<h6 class="teacher-group-card" style="font-weight: 500">Giáo viên ${data.group}</h6>
									</div>
								</div>
							</div>
						</div>`;
					let lastRow = $('.list-teachers').find('.row').last();
					console.log('lastRow: ' + lastRow);
					if(lastRow) {
						const lengthRow = lastRow.find('.col-6').length;
						console.log('lengthRow: ' + lengthRow);
						if(lengthRow === 1) {
							lastRow.append(newItem);
						} else if(lengthRow === 2 || lengthRow === 0) { 
							let newItemRow = `<div class="row mb-3">${newItem}</div>`;
							$('.list-teachers').append(newItemRow);
						}
					} 
				}
				toastr.success('Thêm giáo viên mới thành công');
			})
			.catch(err =>{
				console.log(err);
				toastr.error('Thêm thất bại');
			})
		});
		$('#nameTeacher').on('input', function() {
			let transformedValue = $(this).val()
            .toLowerCase()          // Chuyển thành chữ thường
            .replace(/\s+/g, '')    // Loại bỏ khoảng trắng
            .normalize("NFD")      // Chuẩn hóa Unicode
            .replace(/[\u0300-\u036f]/g, ''); // Loại bỏ dấu
			$('#emailTeacher').val(`${transformedValue}@eschool.com`);
		})
	})
	
</script>