<div class="bg-light text-center rounded p-4">
	<div class="d-flex align-items-center mb-4">
		<label class="me-3" for="yearSelect">Chọn năm học:</label>
		<select class="form-select w-auto" id="yearSelect">
			<option value="none" disabled selected>Chọn</option>
			{{#each years}}
				<option value="{{_id}}">{{startYear}} - {{endYear}}</option>
			{{/each}}
		</select>
		<label class="ms-4 me-3" for="classSelect">Chọn lớp:</label>
		<select class="form-select w-auto" id="classSelect">
			{{!-- Class thì dùng fetch --}}
		</select>
		<label class="ms-4 me-3" for="monthSelect">Chọn đợt điểm:</label>
		<select class="form-select w-auto" id="monthSelect">
			<option value="none" disabled selected>Chọn</option>
			<option value="9+10">Tháng 9+10</option>
			<option value="11">Tháng 11</option>
			<option value="12">Tháng 12</option>
			<option value="1+2">Tháng 1+2</option>
			<option value="3">Tháng 3</option>
			<option value="4">Tháng 4</option>
		</select>
		
	</div>
	<div class="table-responsive d-none">
		<table class="table text-start align-middle table-bordered mb-0 text-nowrap">
			<thead>
				<tr class="text-dark">
					<th>Mã học sinh</th>
					<th>Họ và tên</th>
					<th>Lớp</th>
					{{#each subjects}}
						<th>{{name}}</th>
					{{/each}}
					<th>ĐTB</th>

				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>

<script>
	$(function() {
		let yearSelected = null;
		let classSelected = null;
		$('#yearSelect').change(function() {
			let yearId = $(this).val();
			yearSelected = $(this).val();
			fetch(`/admin/getAllClassByYear/${yearId}`)
			.then(res => {
				if(!res.ok) throw new Error('Lỗi');
				return res.json();
			})
			.then(data => {
	
				let options = `<option value="none" disabled selected>Chọn</option>`;
				data.forEach(item => {
					options += `<option value="${item._id}">${item.name}</option>`;
				});
				$('#classSelect').empty().append(options);
			})
			.catch(err => {
				console.log(err);
			});
		});
		$('#classSelect').change(function() {
			classSelected = $(this).val();
		});
		$('#monthSelect').change(function() {
			let monthSelected = $(this).val();
			console.log(yearSelected, classSelected, monthSelected);
			fetch(`/admin/getStudyResult/${yearSelected}/${classSelected}/${monthSelected}`)
			.then(res => {
				if(!res.ok) throw new Error('Lỗi');
				return res.json();
			})
			.then(data => {
				console.log(data);
			})
			.catch(err => {
				console.log(err);
			});
		})
	})
</script>