<!-- table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="mb-0">Kết quả học tập</h5>
            <!-- <a href="">Show All</a> -->
        </div>

        <div class="d-flex mb-4">
            <div class="input-group w-25">
                <label for="year" class="input-group-text">Năm học</label>
                <select id="year" class="me-4 form-select ">
                    {{!-- <option value="1">2020 - 2021</option>
                    <option value="2">2021 - 2022</option>
                    <option value="3">2022 - 2023</option> --}}
                    {{#each years}}
                    <option value="2">{{startYear}} - {{endYear}}</option>
                    {{/each}}
                </select>
            </div>
            
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="hk1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="hk1">Học kỳ 1</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="hk2" autocomplete="off">
                <label class="btn btn-outline-primary" for="hk2">Học kỳ 2</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="canam" autocomplete="off">
                <label class="btn btn-outline-primary" for="canam">Cả năm</label>
            </div>
        </div>

        

        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered mb-0">
                <thead>
                    <tr class="text-dark">
                        <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Invoice</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th> -->
                        <th>Môn</th>
                        <th>15 phút</th>
                        <th>1 tiết</th>
                        <th>Giữa kỳ</th>
                        <th>Cuối kỳ</th>
                        <th>Điểm trung bình</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Toán</th>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- table Sales End -->