<div class="bg-light text-center rounded p-3">
	<div class="d-flex justify-content-start">
		<button class="btn btn-primary me-3">Buổi sáng</button>
		<button class="btn btn-primary me-3">Buổi chiều</button>
		<select name="" id="" class="form-select w-auto">
			{{#each classes}}
				<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
	</div>
	<table class="table text-center align-middle table-bordered table-hover mb-0 mt-3">
			<thead>
				<tr class="text-dark">
					<th scope="col">Tiết</th>
					<th scope="col">Thứ hai</th>
					<th scope="col">Thứ ba</th>
					<th scope="col">Thứ tư</th>
					<th scope="col">Thứ năm</th>
					<th scope="col">Thứ sáu</th>
					<th scope="col">Thứ bảy</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>4</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>5</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
</div>